body{
    margin: 0;
    padding: 0;
}

.wrapper{
    background-color: rgb(247, 239, 229);
    border: 1px solid black;
}

.float:after{
    content: "";
    display: block; /* without this, wrapper will have no height, and the bg-col applied above won't work */
    clear: both;
}

.elem{
    float: right;
    width: 29%;
    height: 100px;
    margin: 1%;
    padding: 1%;
    text-align: center;
    background-color: rgb(255, 243, 227);
    border: 1px solid rgb(255, 204, 0);
}

section, aside {
    float: left;
    width: 46%;
    margin: 1%;
    padding: 1%;
    background-color: rgb(237, 237, 237);
}

.textCol {
    margin: 10px;
    padding: 5px;
}

.textCol p {
    column-count: 2;
    column-gap: 50px;
    column-rule: 1px solid rosybrown;
    text-align: justify;
}