h1,
a {
    margin: 20;
    padding: 10;
}

h1 {
    background-color: beige;
    border: 1px solid black; 
    /* These are specified above in the common area, so no longer needed here */
    /* margin: 20; */
    /* padding: 10; */

}

a {
    background-color: lavender;
    border-color: black;
    border: 1px solid cornflowerblue;

    /* block scope prevents superimposition/sharing of allocated margin  */
    display: inline-block;
    text-decoration: none;
    /* margin: 20; */
    padding: 20;

}