.float-container {
    display: block;
    margin: 0;
    padding: 0;
}

/* comment this ":after" block to understand what clearing floats does */
.float-container:after {
    content: "floats cleared";
    display: block;
    clear: both;
    border: 1px red solid;
}

.fl-elem {
    background-color: rgb(151, 194, 194);
    float: right;
    width: 20%;
    border: 1px green solid;
}

.norm {
    display: block;
    margin: 0;
    padding: 0;
}

h1,
a {
    margin: 20;
    padding: 10;
}

h1 {
    background-color: beige;
    border: 1px solid black; 

}

a {
    background-color: lavender;
    border-color: black;
    border: 1px solid cornflowerblue;

    /* block scope prevents superimposition/sharing of allocated margin  */
    display: inline-block;
    text-decoration: none;
    padding: 20;

}
