h1,
a {
    margin: 20;
    padding: 10;
}

h1 {
    background-color: beige;
    border: 1px solid black; 

}

a {
    background-color: lavender;
    border-color: black;
    border: 1px solid cornflowerblue;

    /* block scope prevents superimposition/sharing of allocated margin  */
    display: inline-block;
    text-decoration: none;
    padding: 20;

}

.float-container {
    height: 50%;
    display: block;
    margin: 10px;    
}

.fl-elem {
    background-color: rgb(151, 194, 194);
    float: right;
    width: 20%;
    height: 50%;
    margin: 1%;
    padding: 1%;
    border: 1px green solid;
}

.norm {
    height: 50%;
    display: block;
    margin: 0;
    padding: 0;
}